body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
  width: 100%;
  height: 500px;
  padding-bottom: 50px;
}

.text-card-title {
  font-family: Roboto;
  font-size: 40px;
}

.text-title {
  font-family: Roboto;
  font-size: 18px;
}

.text-parrafo {
  font-family: Roboto;
  font-size: 12px;
}