  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  #chartdiv {
    width: 100%;
    height: 100%;
  }

  .e946_111394 {
    overflow: hidden;
  }

  .e946_111394 {
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07000000029802322);
    background-color: rgba(255, 255, 255, 1);
    width: 1080px;
    height: 608px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
  }

  .e946_111395 {
    color: rgba(0, 0, 0, 1);
    width: 278px;
    height: 52px;
    position: absolute;
    left: 401px;
    top: 32px;
    font-family: Roboto;
    text-align: center;
    font-size: 40px;
    letter-spacing: 0;
  }

  .e946_111396 {
    width: 984px;
    height: 460px;
    position: absolute;
    left: 48px;
    top: 116px;
  }

  .e946_111397 {
    width: 205.99998474121094px;
    height: 301px;
    position: absolute;
    left: 0px;
    top: 32px;
  }

  .e946_111398 {
    width: 205.99998474121094px;
    height: 69px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .e946_111399 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 189.99998474121094px;
    height: 69px;
    position: absolute;
    left: 8px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
  }

  .e946_111400 {
    width: 205.99998474121094px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 85px;
  }

  .e946_111401 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111402 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 25px;
    height: 18px;
    position: absolute;
    left: 180.99998474121094px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111403 {
    width: 205.99998474121094px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 119px;
  }

  .e946_111404 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111405 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 25px;
    height: 18px;
    position: absolute;
    left: 180.99998474121094px;
    top: 7px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111406 {
    width: 205.99998474121094px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 167px;
  }

  .e946_111407 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111408 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 25px;
    height: 18px;
    position: absolute;
    left: 180.99998474121094px;
    top: 7px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111409 {
    width: 205.99998474121094px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 215px;
  }

  .e946_111410 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111411 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 24px;
    height: 18px;
    position: absolute;
    left: 181.99998474121094px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111412 {
    width: 205.99998474121094px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 249px;
  }

  .e946_111413 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111414 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 24px;
    height: 18px;
    position: absolute;
    left: 181.99998474121094px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111415 {
    width: 205.99998474121094px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 283px;
  }

  .e946_111416 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111417 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 23px;
    height: 18px;
    position: absolute;
    left: 182.99998474121094px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111418 {
    transform: rotate(0.0000025044782690431637deg);
    position: absolute;
    left: 230px;
    top: 32px;
  }

  .e946_111418 {
    border: 0.5px solid rgba(176.44368410110474, 176.44363850355148, 176.44363850355148, 1);
  }

  .e946_111419 {
    width: 476px;
    height: 396px;
    position: absolute;
    left: 254px;
    top: 32px;
  }

  .e946_111420 {
    width: 476px;
    height: 396px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .e946_111421 {
    color: rgba(0, 0, 0, 1);
    width: 476px;
    height: 67px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
  }

  .e946_111422 {
    width: 476px;
    height: 329px;
    position: absolute;
    left: 0px;
    top: 67px;
  }

  .e946_111423 {
    width: 210px;
    height: 329px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .e946_111424 {
    width: 178px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: 12px;
  }

  .e946_111425 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 162px;
    height: 36px;
    position: absolute;
    left: 8px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111426 {
    width: 93px;
    height: 21px;
    position: absolute;
    left: 58.5px;
    top: 64px;
  }

  .e946_111427 {
    color: rgba(2.696092128753662, 92.43750303983688, 22.4392057210207, 1);
    width: 36px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
  }

  .e946_111428 {
    color: rgba(2.696092128753662, 92.43750303983688, 22.4392057210207, 1);
    width: 31px;
    height: 21px;
    position: absolute;
    left: 62px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
  }

  .e946_111429 {
    width: 178px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 101px;
  }

  .e946_111430 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111431 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111432 {
    width: 178px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 135px;
  }

  .e946_111433 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111434 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111435 {
    width: 178px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 169px;
  }

  .e946_111436 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111437 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 7px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111438 {
    width: 178px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 217px;
  }

  .e946_111439 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111440 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 6px;
    height: 18px;
    position: absolute;
    left: 172px;
    top: 7px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111441 {
    width: 178px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 265px;
  }

  .e946_111442 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111443 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111444 {
    width: 178px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 299px;
  }

  .e946_111445 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111446 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111447 {
    width: 210px;
    height: 243px;
    position: absolute;
    left: 266px;
    top: 0px;
  }

  .e946_111448 {
    width: 178px;
    height: 36px;
    position: absolute;
    left: 16px;
    top: 12px;
  }

  .e946_111449 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 185px;
    height: 36px;
    position: absolute;
    left: 8px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111450 {
    width: 93px;
    height: 21px;
    position: absolute;
    left: 58.5px;
    top: 64px;
  }

  .e946_111451 {
    color: rgba(129.62499797344208, 0, 0, 1);
    width: 36px;
    height: 21px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
  }

  .e946_111452 {
    color: rgba(129.62499797344208, 0, 0, 1);
    width: 31px;
    height: 21px;
    position: absolute;
    left: 62px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
  }

  .e946_111453 {
    width: 178px;
    height: 18px;
    position: absolute;
    left: 16px;
    top: 101px;
  }

  .e946_111454 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 121px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111455 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 0px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111456 {
    width: 178px;
    height: 32px;
    position: absolute;
    left: 16px;
    top: 135px;
  }

  .e946_111457 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 113px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111458 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 17px;
    height: 18px;
    position: absolute;
    left: 161px;
    top: 7px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111459 {
    width: 178px;
    height: 48px;
    position: absolute;
    left: 16px;
    top: 183px;
  }

  .e946_111460 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 121px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111461 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 9px;
    height: 18px;
    position: absolute;
    left: 169px;
    top: 15px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111462 {
    border: 0.5px solid rgba(176.44368410110474, 176.44363850355148, 176.44363850355148, 1);
  }

  .e946_111462 {
    position: absolute;
    left: 754px;
    top: 32px;
  }

  .e946_111463 {
    width: 205.99998474121094px;
    height: 155px;
    position: absolute;
    left: 778px;
    top: 32px;
  }

  .e946_111464 {
    width: 205.99998474121094px;
    height: 69px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .e946_111465 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 173px;
    height: 23px;
    position: absolute;
    left: 8px;
    top: 23px;
    font-family: Roboto;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
  }

  .e946_111466 {
    width: 205.99998474121094px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 87px;
  }

  .e946_111467 {
    width: 205.99998474121094px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .e946_111468 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 121px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111469 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 80px;
    height: 18px;
    position: absolute;
    left: 125.99998474121094px;
    top: 7px;
    font-family: Roboto;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0;
  }

  .e946_111470 {
    width: 205.99998474121094px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 137px;
  }

  .e946_111471 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 168px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: 1px;
    font-family: Roboto;
    text-align: left;
    font-size: 12px;
    letter-spacing: 0.4000000059604645;
  }

  .e946_111472 {
    color: rgba(0, 2.000000118277967, 24.000000469386578, 1);
    width: 52px;
    height: 18px;
    position: absolute;
    left: 153.99998474121094px;
    top: 0px;
    font-family: Roboto;
    text-align: left;
    font-size: 14px;
    letter-spacing: 0;
  }
